
@font-face {
  font-family: Geist-SemiBold; /* set name */
  src: url(../fonts/Geist-SemiBold.ttf); /* url of the font */
}

@font-face {
  font-family: Inter-Medium; /* set name */
  src: url(../fonts/Inter_18pt-Medium.ttf); /* url of the font */
}

@font-face {
  font-family: Geist-Regular; /* set name */
  src: url(../fonts/Geist-Regular.ttf); /* url of the font */
}