
@font-face {
  font-family: Geist-SemiBold; /* set name */
<<<<<<< HEAD
  src: url(/fonts/Geist-SemiBold.ttf); /* url of the font */
=======
  src: url(fonts/Geist-SemiBold.ttf); /* url of the font */
>>>>>>> refs/remotes/origin/main
}

@font-face {
  font-family: Inter-Medium; /* set name */
<<<<<<< HEAD
  src: url(/fonts/Inter_18pt-Medium.ttf); /* url of the font */
=======
  src: url(fonts/Inter_18pt-Medium.ttf); /* url of the font */
>>>>>>> refs/remotes/origin/main
}

@font-face {
  font-family: Geist-Regular; /* set name */
<<<<<<< HEAD
  src: url(/fonts/Geist-Regular.ttf); /* url of the font */
=======
  src: url(fonts/Geist-Regular.ttf); /* url of the font */
>>>>>>> refs/remotes/origin/main
}