main {
    h2 {
        font-family: Inter-Medium;
        display: flex;
        justify-content: center;
        margin-bottom: 70px;
    }

    .main_content {
    display: flex;
    justify-content: center;

    #file-list {
        font-size: 11px;
    }

    .continue_reflecting {
            font-family: Inter-Medium;
            width: 30%;

    .filter_cont {
        display: flex;
        gap: 30px;
        margin-bottom: 30px;

            .filters {
                background-color: var(--button_purple);
                border-radius: 10px;
                padding: 10px 20px;
            }

            .clear_filters {
                font-family: Geist-Regular;
                color: #737373;
            }

            .filters, .clear_filters {
                font-family: Geist-Regular;
                display: flex;
                gap: 10px;
                width: fit-content;
                cursor: pointer;
                align-items: center;

                img {
                    width: 20px;
                }

                h3 {
                    font-size: 13px;
                    margin: 0;
                }
            }
    }

    #file-list {

            .file-entry {
                display: flex;
                align-items: flex-start;
                flex-direction: row;
                gap: 10px;
                margin-bottom: 20px;

                .file-info {
                    display: flex;
                    flex-direction: column;
                    
                    a {
                        font-size: 17px;
                        color: var(--active_purple)!important;
                        text-decoration: none;
                        font-weight: 500;
                    }

                    .upload-time {
                        color: var(--nonactive_purple);
                    }
                }
            }
        }
    }

    .new_reflection {
        font-family: Inter-Medium;
        width: 30%;

        .buttons_cont {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 5%;
                width: 100%;

            .button {
                border: 1px solid var(--outline-grey);
                border-radius: 10px;
                padding: 20px;
                aspect-ratio: 1/1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-family: Geist-Regular;
                line-height: 1;
                width: 38%;
                margin-bottom: 20px;
                text-align: center;

                img {
                    width: 30px;
                }

                h3 {
                    margin: 10px;
                }
            }
        }
    }
}
}